canvas {
	display: block;
	margin: 0 auto;
	opacity: 1;
	
	-webkit-transition: opacity 0s;
		transition: opacity 0s;
}
canvas.fade {
	opacity: 0;

	-webkit-transition: opacity 1s;
		transition: opacity 1s;
}

#heading {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 210px;
	height: 200px;
}
#mosaic {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	line-height: 0;
	white-space: nowrap;
}
.button {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;

	-webkit-transition: box-shadow .3s;
	    transition: box-shadow .3s;
}
.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

	-webkit-transition: box-shadow .3s;
	    transition: box-shadow .3s;
}
.button:active {
	background-color: #2196F3;
}

#filename {
	word-break: break-all;
}

#errorWindow {
	position: fixed;
    border: 1px solid #ccc;
    border-radius: 10px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 400px;
	height: 120px;
	background-color: white;
	opacity: 0;
	z-index: 9999;
}
#errorWindow.show {
	opacity: 1;
}
#errorWindow.hide {
	opacity: 0;
	-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
}
#errorContent {
	padding:35px;
	text-align: center;
}